.git
.gitignore
__pycache__/
*.pyc
*.pyo
venv/
env/

# Extremely important: Don't bake your secrets or live DB into the image
.env
assets.db

Dockerfile
.dockerignore

# Other files you don't want to track
*.log
Pipfile
Pipfile.lock
models.py
