# Environments and Secrets
.env
venv/
env/

# Database (You don't want to push your live data to GitHub!)
assets.db
*.sqlite3

# Python Cache
__pycache__/
*.pyc
*.pyo

# IDE & OS Files
.vscode/
.idea/
.DS_Store

# Other files you don't want to track
*.log
Pipfile
Pipfile.lock
models.py
