<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asset Details</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="static/logo.png" alt="Work Logo">
        </div>

        <h1>Asset Details: {{ asset.asset_id }}</h1>
        <p>Check-in Time: {{ asset.check_in }}</p>
        <p>Check-out Time: {{ asset.check_out }}</p>
        <a href="{{ url_for('index') }}">Back to Asset List</a>
    </div>
</body>
</html>